<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/image/favicon_2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Harmony Plater</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../Assets/image/1.jpg" alt="logo" class="logo" width="1024px" height="1024px"></a>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./producto.html">Sobre Nosotros</a></li>
            <li><a href="./reservas.html">Reservas</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <div id="confirmacion">
            <h1>¡GRACIAS!<br>SU SOLICITUD HA SIDO ENVIADA CORRECTAMENTE</h1>
        </div>
    </main>
    <footer>
        <div id="redes_sociales">
            <a href="https://www.facebook.com/"><img src="../Assets/image/facebook.jpg" alt="Facebook logo" width="625" height="496" class="redes"></a>
            <a href="https://www.instagram.com/"><img src="../Assets/image/Instagram.png" alt="Instagram logo" width="625" height="496" class="redes"></a>
            <a href="https://web.whatsapp.com/"><img src="../Assets/image/WhatsApp.png" alt="WhatsApp logo" width="625" height="496" class="redes"></a>
        </div>
        <p>©Harmony Plater 2024</p>
    </footer>
    
</body>
</html>