<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/image/favicon_2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Harmony Plater</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../Assets/image/1.jpg" alt="logo" class="logo" width="1024px" height="1024px"></a>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./producto.html">Sobre Nosotros</a></li>
            <li><a href="./reservas.html">Reservas</a></li>
            <li><a href="./contacto.html"id="button_in">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <div id="contacto">
            <h1>Contacto</h1>
            <p>Teléfonos:<br>Para llamadas: 555-55-55-55<br>WhatsApp: 555-55-55-55</p>                <p>Direccion: Via Complutense, Alcalá de Henares</p>
            <p>Horario de atención: De 12:30 a 16:00 y de 20:00 a 00:30</p>
            <h2>Ubicación</h2>
            <a href="https://maps.app.goo.gl/RAFFAnEh6S4ZCjW68"><img src="../Assets/image/Mapa.jpg" alt=""></a>
        </div>
    </main>
    <footer>
        <div id="redes_sociales">
            <a href="https://www.facebook.com/"><img src="../Assets/image/facebook.jpg" alt="Facebook logo" width="625" height="496" class="redes"></a>
            <a href="https://www.instagram.com/"><img src="../Assets/image/Instagram.png" alt="Instagram logo" width="625" height="496" class="redes"></a>
            <a href="https://web.whatsapp.com/"><img src="../Assets/image/WhatsApp.png" alt="WhatsApp logo" width="625" height="496" class="redes"></a>
        </div>
        <p>©Harmony Plater 2024</p>
    </footer>
    
</body>
</html>