<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/image/favicon_2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Harmony Plater</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../Assets/image/1.jpg" alt="logo" class="logo" width="1024" height="1024"></a>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./producto.html" id="button_in">Sobre Nosotros</a></li>
            <li><a href="./reservas.html">Reservas</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main>
        <section class="galeria">
            <h2>Restaurante</h2>
            <p>Bienvenido a nuestro restaurante, el destino perfecto para disfrutar de una comida exquisita y relajante. 
                Contamos con todas las comodidades que necesitas para tener una experiencia culinaria excepcional. 
                Nuestro amplio menú ofrece una variedad de platillos deliciosos, desde platos tradicionales hasta 
                propuestas innovadoras que cautivarán tus papilas gustativas.</p>
            <div class="galeria_fotos">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_1.jpg" alt="foto de restaurante" width="1200" height="750">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_2.jpg" alt="foto de restaurante" width="1200" height="675">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_3.jpg" alt="foto de restaurante" width="750" height="500">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_4.jpg" alt="foto de restaurante" width="645" height="400">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_5.jpg" alt="foto de restaurante" width="1203" height="803">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_6.jpg" alt="foto de restaurante" width="1200" height="800">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_7.jpg" alt="foto de restaurante" width="3024" height="4032">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_8.jpg" alt="foto de restaurante" width="1024" height="682">
                <img src="../Assets/image/Galeria_de_imagenes/restaurante_9.jpg" alt="foto de restaurante" width="2926" height="3927">
            </div>
            <h2>Catering</h2>
            <p>Déjalo todo en manos de Harmony Plater, tu solución definitiva para eventos especiales. Nuestro servicio de catering 
                está diseñado para brindarte la tranquilidad que necesitas, para que puedas disfrutar plenamente de tus celebraciones 
                sin preocupaciones. <br>Contamos con todas las comodidades y el personal altamente capacitado para atender cada uno de 
                los detalles, desde los exquisitos platillos hasta la logística impecable. Confía en Harmony Plater para que tu evento 
                sea un éxito rotundo, donde tú y tus invitados se sientan verdaderamente cómodos y atendidos.</p>
            <div class="galeria_fotos">
                <img src="../Assets/image/Galeria_de_imagenes/catering-1.jpg" alt="foto de catering" width="1000" height="451">
                <img src="../Assets/image/Galeria_de_imagenes/catering-2.jpg" alt="foto de catering" width="600" height="300">
                <img src="../Assets/image/Galeria_de_imagenes/catering-3.jpg" alt="foto de catering" width="1280" height="853">
                <img src="../Assets/image/Galeria_de_imagenes/catering-4.jpg" alt="foto de catering" width="1280" height="853">
                <img src="../Assets/image/Galeria_de_imagenes/catering-5.jpg" alt="foto de catering" width="884" height="667">
                <img src="../Assets/image/Galeria_de_imagenes/catering-6.jpg" alt="foto de catering" width="900" height="554">
                <img src="../Assets/image/Galeria_de_imagenes/catering-7.jpg" alt="foto de catering" width="1200" height="730">
                <img src="../Assets/image/Galeria_de_imagenes/catering-8.jpg" alt="foto de catering" width="1300" height="867">
                <img src="../Assets/image/Galeria_de_imagenes/catering-9.jpg" alt="foto de catering" width="612" height="408">
            </div>
        </section>
    </main>
    <footer>
        <div id="redes_sociales">
            <a href="https://www.facebook.com/"><img src="../Assets/image/conjunto-iconos-redes-sociales-pincel-seco-multicolor-set-coleccion/facebook.jpg" alt="Facebook logo" width="625" height="496" class="redes"></a>
            <a href="https://www.instagram.com/"><img src="../Assets/image/conjunto-iconos-redes-sociales-pincel-seco-multicolor-set-coleccion/Instagram.png" alt="Instagram logo" width="625" height="496" class="redes"></a>
            <a href="https://web.whatsapp.com/"><img src="../Assets/image/conjunto-iconos-redes-sociales-pincel-seco-multicolor-set-coleccion/WhatsApp.png" alt="WhatsApp logo" width="625" height="496" class="redes"></a>
        </div>
        <p>©Harmony Plater 2024</p>
    </footer>
    
</body>
</html>